body {
  margin: 0;
  font: 16px/1 'SF Pro Text', 'Roboto', Helvetica, Arial, sans-serif;
}

.chart {
  margin: 18px;
}

.chart__lens {
  margin: 0 -18px;
  padding: 0 18px;
  overflow: hidden;
}

.chart svg {
  width: 100%;
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chart use {
  transition: transform 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  transform-origin: center bottom;
}

.chart__lens svg {
  stroke-width: 3;
  height: 462px; /* 77 */
}

.chart__lens symbol {
  overflow: visible;
}

.chart__preview {
  position: relative;
  overflow: hidden;
  padding: 3px 0;
  line-height: 0;
}

.chart__preview svg {
  stroke-width: 1.5;
  height: 50px;
}

.chart__range {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0 2000px rgba(245, 249, 251, 0.75);
}

.chart__handle {
  flex-grow: 1;
  border-top: 1.5px solid rgba(9, 114, 188, 0.14);
  border-bottom: 1.5px solid rgba(9, 114, 188, 0.14);
  cursor: pointer;
}

.chart__range:hover .chart__handle {
  border-color: rgba(9, 114, 188, 0.11);
}

.chart__adjust {
  width: 6px;
  height: 100%;
  background-color: rgba(9, 114, 188, 0.14);
  cursor: pointer;
}

.chart__range:hover .chart__adjust,
.chart__adjust:hover {
  background-color: rgba(9, 114, 188, 0.11);
}

.chart__controls {
  margin-top: 22px;
}

.chart__switcher + .chart__switcher {
  margin-left: 21px;
}

.switcher {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  letter-spacing: -0.05em;
  border: 1.5px solid #e6ecf0;
  color: #43484b;
  padding: 9px;
  border-radius: 25px;
  background: none;
}

.switcher:focus {
  outline: none;
  /* border-color: #008deb; */
}

.switcher__checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
  background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.3233 18.3232L10 16C9.44774 15.4477 8.55231 15.4477 8.00003 16C7.44774 16.5523 7.44774 17.4477 8.00003 18L11.4697 21.4697C11.8093 21.8092 12.2698 22 12.75 22C13.2302 22 13.6908 21.8092 14.0304 21.4697L22 13.5C22.5523 12.9477 22.5523 12.0523 22 11.5C21.4477 10.9477 20.5523 10.9477 20 11.5L13.1768 18.3232C13.0636 18.4364 12.9101 18.5 12.75 18.5C12.59 18.5 12.4364 18.4364 12.3233 18.3232Z" fill="white"/></svg>');
}

.switcher__checkbox:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2px;
  left: 2px;
  display: block;
  border-radius: 50%;
  transition: transform 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  transform: scale(1);
  background: white;
}

.switcher.active .switcher__checkbox:after {
  transform: scale(0);
}

.switcher__label {
  display: block;
  margin: 0 14px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.fade-out.active {
  opacity: 1;
}
